body {
    background-color: #001833;
    color: #ffffff;
    text-align: center;
    font-family: 'Calibri', Arial, sans-serif;
}

.individual-chart-container {
    text-align: center;
    width: 100%;
}

.chart-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5%
}